.profile {
  background-color: rgb(blue) 
  height:50px;
  widht: 50px;
  line-height 50px;
  text-align: center
  font-size: 1em;
  border-radius: 50px;
  margin-left: 120px;
}

.app{
  text-align: center;
}

